body { background: #514f0d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-sms-0 { color: #752bb7; font-size: 15px; margin-bottom: 5px; }
.block-helper-1 { color: #e732a7; font-size: 18px; margin-bottom: 5px; }
.block-email-2 { color: #805d19; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #3a4485; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #98e890; font-size: 21px; margin-bottom: 5px; }